/*
.em-*
 部品化しているもの

.pn-*
 そのページでしか使っていない固有のスタイル
 body[page-name="***"]の配下で使用

.r-{乱数}
 スタイル名が決まっていないものは乱数
 後から検索しやすいようr-とする。
 .pn-r-*の場合もある
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

//node_module内のフォントファイルを参照させる。デフォルトは../webfontsなのでresoursesが参照される
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

//fontawesomeのcss
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';

@import '_reset';
@import '_parts';


::-webkit-scrollbar {
    border-radius: 5px;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ccc;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #eee;
}
::selection {
    background: #f29c4b;
    color: #fff;
    text-shadow: none;
}

@layer components {
    body {

    }
    #main{
        //@apply text-sm;
    }

    .star{
        li{
            @apply leading-none;
            i{
                color: #e2e8f0;
            }
        }

        &-30{
            background: -webkit-linear-gradient(0deg, #FBBC04 60%, #e2e8f0 60%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-31{
            background: -webkit-linear-gradient(0deg, #FBBC04 67%, #e2e8f0 67%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-32{
            background: -webkit-linear-gradient(0deg, #FBBC04 68%, #e2e8f0 68%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-33{
            background: -webkit-linear-gradient(0deg, #FBBC04 69%, #e2e8f0 69%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-34{
            background: -webkit-linear-gradient(0deg, #FBBC04 70%, #e2e8f0 70%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-35{
            background: -webkit-linear-gradient(0deg, #FBBC04 71%, #e2e8f0 71%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-36{
            background: -webkit-linear-gradient(0deg, #FBBC04 72%, #e2e8f0 72%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-37{
            background: -webkit-linear-gradient(0deg, #FBBC04 73%, #e2e8f0 73%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-38{
            background: -webkit-linear-gradient(0deg, #FBBC04 74.5%, #e2e8f0 74.5%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-39{
            background: -webkit-linear-gradient(0deg, #FBBC04 76%, #e2e8f0 76%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-40{
            background: -webkit-linear-gradient(0deg, #FBBC04 80%, #e2e8f0 80%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-41{
            background: -webkit-linear-gradient(0deg, #FBBC04 87.5%, #e2e8f0 87.5%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-42{
            background: -webkit-linear-gradient(0deg, #FBBC04 88.5%, #e2e8f0 88.5%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-43{
            background: -webkit-linear-gradient(0deg, #FBBC04 90%, #e2e8f0 90%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-44{
            background: -webkit-linear-gradient(0deg, #FBBC04 91%, #e2e8f0 91%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-45{
            background: -webkit-linear-gradient(0deg, #FBBC04 92%, #e2e8f0 92%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-46{
            background: -webkit-linear-gradient(0deg, #FBBC04 93%, #e2e8f0 93%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-47{
            background: -webkit-linear-gradient(0deg, #FBBC04 94%, #e2e8f0 94%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-48{
            background: -webkit-linear-gradient(0deg, #FBBC04 95%, #e2e8f0 95%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-49{
            background: -webkit-linear-gradient(0deg, #FBBC04 96.5%, #e2e8f0 96.5%, #e2e8f0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &-50{
            li{
                i{
                    color:#FBBC04;
                }
            }
        }
    }
}





/* end breeze */
#test-flg-88{
    z-index: 99;
    position: fixed;
    width:150px;
    left: 0;
    bottom: 0;
    padding:10px 0;
    background: #dd3333;
    color:#fff;
    font-size: 1.2em;
    text-align: center;
    animation: test-flash 1.5s linear infinite;
}

@keyframes test-flash {
    0%,100% {
        opacity: .7;
    }
    50% {
        opacity: .3;
    }
}
